

<h1>About</h1>
<p>Binary Bits is a personal blog written using ASP.NET 5 MVC. It is a learning/practice project for me and I will use it to talk about things I am learning and things that interest me. I named it Binary Bits because computers only understand binary bits and my blog will be bits of thoughts. Thanks for taking the time to check out my blog.</p>